{% extends 'base.html' %}

{% block title %}Add New User{% endblock %}

{% block content %}
<h1>Create a user</h1>
<form action="/users/new" method="POST">
    <label for="first_name">First Name</label><br>
    <input type="text" name="first_name" id="first_name" placeholder="Enter a first name"><br>
    <label for="last_name">Last Name</label><br>
    <input type="text" name="last_name" id="last_name" placeholder="Enter a last name"><br>
    <label for="img_url">Image URL</label><br>
    <input type="text" name="img_url" id="img_url" placeholder="Provide an image of this user"><br>
    <button>Add</button>
</form>

{% endblock %}