{% extends 'base.html' %}

{% block title %}{{user.first_name}} {{user.last_name}}{% endblock %}

{% block content %}
<div class="container my-5">
    <form action="/users/{{user.id}}/edit" method="POST" class="p-3 border rounded shadow">
        <h1>Edit a user</h1>
        <div class=" row mb-3">
            <div class="col">
                <label class="form-label" for="first_name">First Name</label>
                <input type="text" name="first_name" id="first_name" placeholder="{{user.first_name}}" class="form-control">
            </div>
            <div class="col">
                <label class="form-label" for="last_name">Last Name</label>
                <input type="text" name="last_name" id="last_name" placeholder="{{user.last_name}}" class="form-control">
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="img_url">Image URL</label>
            <input type="text" name="img_url" id="img_url" placeholder="{{user.img_url}}" class="form-control">
        </div>
        <button class="btn btn-primary my-3">Save</button>
        <a href="/users/{{user.id}}" role="button" class="btn btn-light my-3">Cancel</a> 
    </form>
</div>


{% endblock %}