{% extends 'base.html' %}

{% block title %}Recent Posts{% endblock %}

{% block content %}
<h1 class="text-center">Recent Posts</h1>
{% for post in posts %}
<div class="container my-3">
    <div class="card w-75 shadow" style="width: 18rem;">
        <div class="card-img-top text-center p-3">
            <img class="img-fluid rounded-circle" src="{{post.users.img_url}}" alt="{{post.users.first_name}}_{{post.users.last_name}}_picture" width="300" >
        </div>
        <div class="card-header"> Post Details</div>
        <div class="card-body">
            <h1 class="card-title">{{post.title}}</h1>
            <div class="card-text">
                <p class="lead">{{post.content}}</p>
                <p class="d-inline">Tags</p>
                {% for tag in post.tags %}
                <a href="/tags/{{tag.id}}"><span class="badge bg-primary d-inline">{{tag.name}}</span></a>
                {% endfor %}
            </div>
        </div>
        <div class="card-footer text-mutated">
            <p><em>By {{post.users.first_name}} {{post.users.last_name}} on {{post.friendly_date}}</em></p>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}