{% extends 'base.html' %}

{% block title %}{{user.first_name}} {{user.last_name}}{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="card w-75 shadow" style="width: 18rem;">
        <div class="card-img-top text-center p-3">
            <img class="img-fluid rounded-circle" src="{{user.img_url}}" alt="{{user.first_name}}_{{user.last_name}}_picture" width="300" >
        </div>
        <div class="card-header"> Post Details</div>
        <div class="card-body">
            <h1 class="card-title">{{post.title}}</h1>
            <div class="card-text">
                <blockquote class="blockquote">
                    <p>{{post.content}}</p>
                    <footer class="blockquote-footer"><em>By {{user.first_name}} {{user.last_name}}</em></footer>
                </blockquote>
                <p class="d-inline">Tags</p>
                {% for tag in tags %}
                <a href="/tags/{{tag.id}}"><span class="badge bg-primary d-inline">{{tag.name}}</span></a>
                {% endfor %}
            </div>
            <div class="card-link my-3">
                <a href="/users/{{user.id}}" role="button" class="btn btn-light">Cancel</a>
                <a href="/posts/{{post.id}}/edit" role="button" class="btn btn-primary">Edit</a>
                <form action="/posts/{{post.id}}/delete" method="POST" class="d-inline">
                    <button class= "btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}