{% extends 'base.html' %}

{% block title %}User List{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="p-3 border rounded shadow">
        <h1>Users</h1>
        <div class="list-group mb-3">
            {% for user in users %}
            <a href="/users/{{user.id}}" class="list-group-item list-group-item-action">{{user.first_name}} {{user.last_name}}</a>
            {% endfor %}
        </div>
        <a href="/users/new" role="button" class="btn btn-primary">Add New User</a>
    </div>
    
</div>

{% endblock %}